# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/
cmake-build-release/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws
*.o
*.exe

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest JavaQQClient
.idea/httpRequests

/.idea/encodings.xml
.idea/*
classes/
target/
"\350\223\235\346\241\245\346\235\257.iml"
"\346\225\260\346\215\256\347\273\223\346\236\204/\347\254\2542\347\253\240-\347\272\277\346\200\247\350\241\250/"
/.idea/*
.idea/compiler.xml
.idea/ACM.iml
.idea/encodings.xml
.idea/misc.xml
.idea/
.idea/ACM.iml
.idea/ACM.iml
.idea/ACM.iml
.idea/dataSources.xml
.idea/misc.xml

.vscode/
