<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>声明式渲染</title>
  </head>
  <body>
    <div id="app">
      <h1>{{title}}</h1>
      <h3 v-if="seen">{{content}}</h3>
      <ul>
        <li v-for="elem in mylist">{{elem}}</li>
      </ul>
    </div>
    <script src="../js/vue.js"></script>
    <script>
      Vue.config.productionTip = false;
      const vm = new Vue({
        el: "#app",
        data: {
          title: "声明式渲染",
          seen: true,
          content: "你现在能看见我",
          mylist: [18, 19, 20, 21],
        },
      });
    </script>
  </body>
</html>
